#search input {
    backdrop-filter: blur(5px);
    background: rgba(246,249,252,.3);
    mix-blend-mode: hard-light;
    color: rgba(45,52,54,.75);
}

#search button {
    background: rgba(246,249,252,.3);
    mix-blend-mode: hard-light;
    backdrop-filter: blur(5px);
}

#search button img:hover {
    filter: opacity(.7);
}

#bkList button {
    color: rgba(45,52,54,.75);
    font-weight: 400;
    background: rgba(246,249,252,.3);
    backdrop-filter: blur(5px);
    mix-blend-mode: luminosity;
}

#bkList button:hover {
    background: rgba(246,249,252,.5);
    color: white;
}

#crtBk {
    background: rgba(246,249,252,.7);
    backdrop-filter: blur(5px);
}

#crtBk input {
    background: rgba(241, 242, 246, .3);
}

.bookmark {
    backdrop-filter: blur(5px);
    background: rgba(246,249,252,.3);
    mix-blend-mode: luminosity;
    color: rgba(45,52,54,.75) !important;
}

.bookmark:hover {
    background: rgba(246,249,252,.5);
    color: white !important;
}