#alert {
    z-index: 3;
    position: fixed;
    padding: 30px;
    background: #f5f6fa;
    min-width: 400px;
    min-height: 100px;
    border: #f5f6fa;
    border-radius: 8px;
    filter: opacity(.95);
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    transition: all .4s;
    transform: translateY(-300px);
}

#alert h2 {
    font-weight: 500;
    font-size: 19px;
}

#alert div {
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#alert button {
    margin-left: 5px;
    width: 70px;
    height: 30px;
    background: #f6f9fc;
    color: black;
    border: 1.5px solid #b2bec3;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s;
}

#alert button:hover {
    background: #0366d6;
    color: white;
    border: #0366d6;
}