@import url('https://rsms.me/inter/inter.css');
@import url('alert.css');
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

* {
    font-family: -apple-system, "Inter", sans-serif !important;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

body {
    display: flex;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
    transition: all .3s;
}

#search {
    position: absolute;
    top: 45vh;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 15px rgba(0,0,0,.2);
    border-radius: 28px;
}

#search>* {
    box-sizing: border-box;
}

#search input {
    width: 430px;
    height: 45px;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    border: 1.5px solid #b2bec3;
    border-right: none;
    padding-left: 20px;
    font-size: 15px;
    transition: width .5s .3s;
}

#search input:focus {
    width: 530px;
}

#search button {
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    height: 45px;
    width: 55px;
    border: 1.5px solid #b2bec3;
    border-left: none;
    cursor: pointer;
}

#search button img {
    margin-top: 1px;
    margin-right: 1px;
    height: 32px;
    width: auto;
    transition: all .2s;
}

#bkList {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 55vh;
    margin-top: 30px;
    width: 60vw;
    flex-wrap: wrap;
    justify-content: center;
}

#bkList>* {
    margin-left: 15px;
}

#bkList #crtBkBtn {
    width: 183px;
    height: 38px;
    border: 1.25px solid #b2bec3;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.2);
    transition: all .2s;
    cursor: pointer;
    order: 99;
}

#bkList #crtBkBtn:hover {
    transform: scale(1.05);
}

#bkList #crtBkBtn:active {
    transform: scale(.95);
}

#crtBk {
    display: flex;
    box-shadow: 4px 4px 10px rgba(0,0,0,.2);
    border-radius: 30px;
    border: 1.5px solid #b2bec3;
    width: 37vw;
    height: 430px;
    color: black;
    transform: translateY(130vh);
    flex-direction: column;
    align-items: center;
}

#crtBk h2 {
    margin-top: 70px;
    font-weight: 500;
}

#crtBk input {
    display: inline-block;
    border: 1.5px solid #b2bec3;
    border-radius: 10px;
    width: 50%;
    height: 28px;
    font-size: 15px;
    text-align: center;
    transition: all .3s;
    margin-top: 70px;
}

#crtBk input:focus {
    box-shadow: 0px 0px 5px #0366d6;
    border: 1.5px solid #0366d6;
}

#crtBk input[type=text] {
    margin-top: 30px;
}

#crtBk button {
    margin-top: 60px;
    background: none;
    border: .5px solid #b2bec3;
    font-size: 13px;
    width: 70px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    transition: all .3s;
}


#crtBk button:hover {
    border: .5px solid #f6f9fc;
    background: #b2bec3;
    color: #f6f9fc;
}

.bookmark {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    border-radius: 7px;
    width: 150px;
    height: 20px;
    border: 1px solid #b2bec3;
    box-shadow: 2px 2px 10px rgba(0,0,0,.2);
    transition: box-shadow .5s, transform .2s, background .3s, color .3s .05s;
    margin-bottom: 30px;
}

.bookmark:hover {
    transform: scale(1.05);
}

.bookmark:active {
    transform: scale(.9);
}

#background {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    /* filter: blur(5px); */
    z-index: -1;
}

#imgDsc {
    position: absolute;
    text-align: right;
    top: 15px;
    right: 15px;
    text-shadow: 1px 1px 5px rgba(0,0,0,.2);
    font-size: 13px;
}

#pref {
    position: absolute;
    top: 15px;
    left: 15px;
}

#pref img {
    width: 24px;
    transition: all .2s;
    padding: 5px;
    border-radius: 17px;
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,.5)) opacity(.6);
}

#pref img:hover {
    transform: rotate(30deg);
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,.5)) opacity(1);
}

#pref img:active {
    transform: scale(.9) rotate(30deg);
}

.sp::placeholder {
    color: #353b48;
}

#alert {
    color: black;
}

#alert h2 {
    margin-top: 10px;
}
